:root {
  --color-red: #EF5455;
  --color-yellow: #FAD744;
  --color-dark: #2B3253;
  --color-black: black;
}

.App {
}

.App-header {
  background-color: var(--color-yellow);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  margin-bottom: 50px;
}

.App-header h1.emphasis { color: var(--color-red); }
.App-header h1 {
  text-shadow: 1px 1px var(--color-black);
}

.App-body {
  display: flex;
}

.App-body .DrawSide {
  flex: 0 1 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body .Ticket {
  flex: 0 1 50%;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  max-width: 50%;
  border-right: 2px solid var(--color-yellow);
}

.App-body .Ticket-overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.App-body .Ticket-body {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(7, 50px);
  justify-content: center;
  grid-gap: 5px;
  margin-bottom: 30px;
}

.App-body .Ticket-body .cell {
  font-size: 20px;
  color: var(--color-black);
}
.App-body .Ticket-body .cell.selected { background-color: var(--color-yellow); color: white; }

.button {
  padding: 5px 10px;
  display: inline;
  background: var(--color-yellow) url(button.png) repeat-x bottom;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 1px 1px var(--color-dark);
}
.button:hover {
  background-position: 0 -48px;
}

.button.big-red {
  font-size: 36px;
  padding: 5px 30px;
  background: var(--color-red) url(button.png) repeat-x bottom;
}
/* .button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  padding: 6px 10px 4px;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
